/* 본 파일은 절대로 수정하지 않습니다. */
table {
  font-size: 15px;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

th:nth-child(1),
td:nth-child(1) {
  width: 250px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 100px;
}

th:nth-child(3),
td:nth-child(3) {
  width: 120px;
}

th {
  background-color: #ddd;
}
